<h1>Forgot your password?</h1>

<%= form_with url: reset_password_path, data: { turbo: false } do |f| %>
  <div class="mb-3">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "steve@apple.com" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Reset password", class: "btn btn-primary" %>
  </div>
<% end %>